html,
body {
  height: 100%;
  background-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #000;
}

a {
  text-decoration: none;
}

/* Header */

.site-logo img {
  width: 250px;
  margin: 10px 0;
}

.site-header {
  position: relative;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  background-color: #fcfbf7;
}

.site-navigation {
  display: flex;
  width: 98%;
  margin: 0 auto;
  padding: 0 10px;
  justify-content: space-between;
}

.site-navigation-list {
  display: flex;
  margin: auto 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
}

.site-navigation-list a {
  display: block;
  padding-left: 30px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.site-navigation-list a:hover,
.login-form a:hover {
  color: #666666;
  transition: 0.2s;
}

/* Align content + title */

.container {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

h1 {
  line-height: 36px;
  font-size: 28px;
  text-transform: uppercase;
}

.product-title,
.project-title,
.login-title,
.personal-info-title,
.task-panel-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.personal-info-title,
.task-panel-title {
  margin-top: 40px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Home page */

.index_page {
  position: relative;
  height: 630px;
  width: 1200px;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(252, 251, 247);
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.index_page .about {
  padding: 0 50px;
  margin-bottom: 40px;
}

.about p {
  text-align: center;
  font: 1.3rem/1.2 bold;
}

.container_slider_css {
  margin: auto;
  width: 600px;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.photo_slider_css {
  position: absolute;
  animation: round 16s infinite;
  opacity: 0;
  width: 100%;
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

img:nth-child(1) {
  animation-delay: 12s;
}

img:nth-child(2) {
  animation-delay: 8s;
}

img:nth-child(3) {
  animation-delay: 4s;
}

img:nth-child(4) {
  animation-delay: 0;
}

/* Log in */

.login,
.align_footer {
  flex: 1 0 auto;
}

.login .container {
  position: relative;
  min-height: 280px;
  width: 500px;
  margin: 10% auto;
  padding: 20px 50px 50px;
  background-color: rgb(252, 251, 247);
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.login-form label {
  cursor: pointer;
}

.login-form label:hover {
  color: rgb(102, 102, 102);
  transition: 0.2s;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
  display: block;
  width: 365px;
  padding: 10px 15px;
  border: 2px solid #000;
  margin-bottom: 15px;
}

.login-form input::placeholder {
  text-transform: uppercase;
}

.login-form input[type="submit"] {
  width: 400px;
  padding: 12px;
  margin-top: 15px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #000;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background-color: rgb(102, 102, 102);
  transition: 0.2s;
}

.login-form input[type="text"]:hover,
.login-form input[type="password"]:hover,
.login-form input[type="email"]:hover {
  border: 2px solid rgb(102, 102, 102);
}

/* Progect page + staff page */

.personal-info_table,
.task-panel_form table,
.project-table {
  width: 100%;
}

.personal-info_table td {
  padding: 10px;
  width: 40%;
  font-size: 18px;
  background: #fcfbf7;
  border: 1px solid #000;
}

.personal-info_table td:first-child {
  width: 20%;
}

.personal-info_table td:first-child,
.personal-info_table input[type="submit"],
.task-panel_form input[type="submit"] {
  background: #000;
  color: #fff;
  text-transform: uppercase;
}

.personal-info_table input[type="submit"],
.task-panel_form input[type="submit"] {
  border: 2px solid #000;
}

.personal-info_table input[type="submit"]:hover,
.task-panel_form input[type="submit"]:hover {
  background: #666;
  border: 2px solid #666;
  cursor: pointer;
}

.personal-info_table input {
  padding: 5px 10px;
}

.task-panel_form input,
.task-panel_form select,
.project-table td {
  padding: 10px;
}

.task-panel_form td:nth-child(1) {
  width: 30%;
}

.task-panel_form td:nth-child(2) {
  width: 10%;
}

.task-panel_form td:nth-child(4) {
  width: 10%;
}

.task-panel_form input,
.task-panel_form select {
  width: 100%;
  box-sizing: border-box;
}

.project {
  margin: 15px 0;
}

.project-table {
  margin-top: 25px;
  border-collapse: collapse;
}

.project-table tr:first-child td {
  background: #000;
  color: #fff;
  text-align: center;
  border-right: 1px solid #fff;
}

.project-table tr:first-child td:last-child {
  border-right: 1px solid #000;
}

.project-table td {
  border: 1px solid #000;
}

.project select {
  padding: 10px;
  width: 20%;
  background: #efefef;
}

.project form input {
  width: 5%;
  padding: 10px;
  background: #000;
  color: #fff;
  border: 2px solid #000;
  text-transform: uppercase;
}

.project form input:hover {
  background: #666;
  border: 2px solid #666;
  cursor: pointer;
}

.table-pr td:nth-child(1),
.table-pr td:nth-child(7),
.table-pr td:nth-child(8),
.table-pr td:nth-child(9),
.table-pr td:nth-child(10) {
  width: 9%;
}

.table-pr td:nth-child(3) {
  width: 5%;
}

.table-pr td:nth-child(4),
.table-pr td:nth-child(5),
.table-pr td:nth-child(6) {
  width: 10%;
}

/* Align footer */

.login,
.align_footer {
  flex: 1 0 auto;
}

/* Footer */

.site-footer {
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(252, 251, 247);
  flex-shrink: 0;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  margin-top: 10px;
  overflow: auto;
}

.site-footer .container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.site-footer .site-navigation-list {
  margin-right: 15px;
  margin-left: -15px;
  justify-content: left;
}

.site-footer a {
  display: block;
  margin: 0;
  padding: 15px;
  color: #000;
}

.site-footer span {
  padding: 15px;
}
